<div class="row">
    <div class="col-6">
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="readOnlyInput">User Id</label>
                <input class="form-control" type="text" [(ngModel)]="userId" readonly="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="uname">User Name</label>
                <input class="form-control" type="text" [(ngModel)]="userName">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="pwd">Password</label>
                <input class="form-control" type="text" [(ngModel)]="password">
            </fieldset>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="role">Role</label>
                <input class="form-control" type="text" [(ngModel)]="role">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="createdOn">created Date</label>
                <input class="form-control" type="text" [(ngModel)]="createdDate">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label class="form-label mt-4" for="isAct">Is Active</label>
                <input class="form-control" type="text" [(ngModel)]="isActive">
            </fieldset>
        </div>
    </div>
</div>
<div class="row col-8 mt-2">
    <div class="col-4">
        <button type="button" (click)="saveEditedData()" class="btn btn-secondary">Edit</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary">Cancel</button>

    </div>
</div>