<div class="row col-12">
    <div class="col-2">
        User ID
    </div>
    <div class="col-2">
        User Name
    </div>
    <div class="col-2">
        Password
    </div>
    <div class="col-2">
        Role
    </div>
    <div class="col-2">
        Created Date
    </div>
    <div class="col-2">
        Is Active
    </div>
</div>
<div class="row col-12">
    <div class="col-2">{{user.userId}} </div>
    <div class="col-2">{{user.userName}} </div>
    <div class="col-2">{{user.password}} </div>
    <div class="col-2">{{user.role}} </div>
    <div class="col-2">{{user.createdDate | date:'dd/MM/yyyy'}} </div>
    <div class="col-2">{{user.isActive}} </div>

</div>